<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.vdolrm.lrmlibrary"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="8"
        tools:overrideLibrary = "com.soundcloud.android.crop,com.ikimuhendis.ldrawer"
        />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
   <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />     <!-- 获取mac地址作为用户的备用唯一标识 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />      <!-- 获取用户手机的IMEI，用来唯一的标识用户。 -->
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS"></uses-permission>  
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /><!-- 缓存资源优先存入SDcard -->
    <uses-permission android:name="android.permission.INTERNET" />              <!-- 允许应用程序联网，以便向我们的服务器端发送数据。 -->
	<uses-permission android:name="android.permission.WRITE_SETTINGS"></uses-permission> 
	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.CAMERA" />
   
    <application
        android:name="com.vdolrm.lrmlibrary.test.TestApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.vdolrm.lrmlibrary.test.MainActivity"
            android:label="@string/app_name" 
            android:screenOrientation="portrait">
            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>
        
     <activity android:name=".test.TestTabFragmentActivity"></activity>
     <activity android:name=".test.TestPageIndicatorFragmentActivity"></activity>
     <activity android:name=".test.TestMainFragmentActivity"></activity>
     <activity android:name=".test.SecondActivity"></activity>
     <activity android:name=".test.TestLunboFragmentActivity"></activity>
     <activity android:name=".test.TestExpandableLVActivity"></activity>
     <activity android:name=".test.TestHoverExpandableLVActivity"></activity>
     <activity android:name=".test.TestBigPicShowActivity"></activity>
     <activity android:name=".test.TestListViewStateActivity"></activity>

     <activity android:name="com.soundcloud.android.crop.CropImageActivity" />
    </application>

</manifest>
